# Указывает, что это корневой файл .editorconfig и настройки не должны наследоваться из других файлов .editorconfig выше по дереву каталогов.
root = true

# Применяется ко всем файлам
[*]
# Используйте символы пробела вместо табов для отступа.
indent_style = space

# Используйте два пробела для отступа.
indent_size = 2

# Завершение строки в формате LF (Line Feed), который является стандартом для Unix.
end_of_line = lf

# Устанавливает кодировку файла в UTF-8.
charset = utf-8

# Удалите все пробелы с конца строки.
trim_trailing_whitespace = true

# Добавьте новую строку в конце файла.
insert_final_newline = true

# Примените эти настройки только к файлам JavaScript и TypeScript
[*.{js,ts}]
quote_type = single
